.paginator {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  gap: 10px;
}

.paginator__link,
.pagintator__current-page {
  display: flex;
  justify-content: center;
  width: 1.563rem;
  height: 1.563rem;
  line-height: 1.563rem;
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--dark-color);
}

.paginator__link {
  line-height: 1.4rem;

  &:active {
    transform: scale(1.1);
    transition: 0.3s;
  }

  &:focus {
    font-weight: bold;
    outline: 2px solid var(--brand-color);
  }
}

.paginator__link--hidden {
  visibility: hidden;
}
