.book-form {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  color: var(--dark-color);
}

.book-form__group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.book-form__group--hidden {
  display: none;
}

.book-form__texts {
  display: flex;
  align-items: end;
  gap: 10px;
}

.book-form__text {
  font-size: 1rem;
  font-weight: 400;
}

.book-form__text--explanation {
  font-size: 0.75rem;
}

.book-form__button {
  display: inline-block;
  text-align: center;
  padding: 7px 10px;
  width: 100%;
  line-height: 100%;
  cursor: pointer;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 7px;

  &:hover {
    transition: 0.5s;
    color: var(--light-color);
    background-color: #777;
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }
}

.book-form__control--hidden:focus + .book-form__button {
  outline: 2px solid var(--brand-color);
}

.book-form__button--selected {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  cursor: default;

  &:hover {
    transition: none;
    color: var(--light-color);
    background-color: var(--dark-color);
  }

  &:active {
    transition: 0;
    scale: 1;
  }
}

.book-form__control {
  border: 1px solid var(--dark-color);
  background-color: var(--main-color);
  padding: 7px;
  font-size: 1rem;

  &:focus {
    transition: 0.5s;
    outline: 1px solid var(--brand-color);
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }
}

.book-form__control--hidden {
  scale: 0;
  position: absolute;

  &:focus {
    transition: none;
    outline: none;
  }

  &:active {
    transition: none;
    scale: 0;
  }
}

.book-form__states {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button--reset {
  width: 100%;
  padding: 0px;
}

.button--form {
  align-self: flex-end;
}

.button--form-disabled {
  align-self: flex-end;
  cursor: not-allowed;
}

.genres__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  background-color: var(--main-color);
  border: 1px solid var(--dark-color);
}

.genre__delete {
  padding: 0 5px;
  border-radius: 5px;
  color: var(--main-color);
  background-color: var(--dark-color);

  &:focus {
    outline: 2px solid var(--brand-color);
  }
}

.book-form__error {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--error-color);
}

.book-form__error--bottom {
  position: absolute;
  bottom: 30px;
}
