:root {
  --light-color: #f9f7f4;
  --main-color: #f4f1ea;
  --brand-color: #84481d;
  --title-font: "Roboto Slab Variable", serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
  background-color: var(--light-color);
}

h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
