:root {
  --light-color: #f9f7f4;
  --dark-color: #333;
  --main-color: #f4f1ea;
  --brand-color: #84481d;
  --error-color: #9a0000;
  --title-font: "Roboto Slab Variable", serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
  background-color: var(--light-color);
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
}

input {
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

textarea {
  border: none;
  color: inherit;
  resize: none;
  font: inherit;
  background: none;
}

dialog {
  border: none;
  padding: 0;
}
