.main-container {
  position: relative;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 100%;
  padding: 20px;
}
