.main-container {
  position: relative;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 100%;
  padding: 20px 20px 0px 20px;
}

.page-container--detail {
  background: #f9f7f4;
  background: linear-gradient(
    180deg,
    rgba(249, 247, 244, 1) 0%,
    rgba(249, 247, 244, 1) 10%,
    rgba(239, 229, 213, 1) 100%
  );
}
