.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 5rem;
  color: var(--light-color);
  background-color: #45240c;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

.navigation__text {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: inherit;
}

.active {
  font-weight: 600;
}
