.page-header__counter,
.page-header__filter {
  font-family: var(--title-font);
  color: var(--dark-color);
  font-weight: 400;
}

.page-header__subtitle {
  display: flex;
  justify-content: space-between;
}

.page-header__counter {
  font-size: 1rem;
}

.page-header__filter {
  text-decoration: underline;

  &:focus {
    font-weight: 600;
  }
}
