.page-container {
  height: 100%;
  padding: 20px;
}

.page-title {
  font-family: var(--title-font);
  color: var(--dark-color);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-bottom: 1px solid var(--dark-color);
}
