.book {
  display: flex;
  min-height: 11.25rem;
  padding: 25px 0;
  gap: 15px;
  border-bottom: 1px solid var(--dark-color);
}

.book__cover {
  object-fit: cover;
}

.book__display {
  display: flex;
  gap: 15px;
  width: 100%;

  @media (width < 400px) {
    flex-direction: column;
  }
}

.book__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 9px;
}

.book__info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.book__title {
  font-family: var(--title-font);
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.book__author {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

.book__info-text {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 300;
}

.book__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 440px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
}

.book__state {
  display: flex;
  gap: 12px;
}

.book__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (width < 400px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }
}

.book__button {
  width: 24px;
  height: 24px;

  &:focus {
    outline: 2px solid var(--brand-color);
    border-radius: 100%;
  }
}

.book__icon {
  max-width: none;
}
